:root {
    --primary: #ff08ce;
    --business: #24aae2;
    --personal: var(--primary);
    --light: #EEE;
    --dark: #1f0202;
    --danger:#ff5b57;
    --shadow: 0 1px 3px rgba(0,0,0,0.1);
    --business-glow: 0 0 4px rgba(58,130,238,0.75);
    --personal-glow: 0 0 4px rgba(255, 8, 206,0.75);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}